body{	
	background: #00467F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family:Roboto;
}



h1
{
	background:#2980B9;
	color:white;
	margin: 0;
	padding:10px 20px;
	text-transform: uppercase;
	font-size:24px;
	font-weight:normal;
}

ul{
	list-style: none;
	margin:0;
	padding:0;
}

li{
	background: #fff;
	height:40px;
	color:#666;
	line-height:40px;

}

#container{
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	width:360px;
	margin:100px auto;
	background-color: #f7f7f7;
}

.completed{
	color:grey;
	text-decoration: line-through;
}
input{
	font-size: 18px;
	background-color: #f7f7f7;
	width:100%;
	padding:13px 13px 13px 13px;
	box-sizing: border-box;   /*padding and border in an element's total width and height.*//*to negate the value of width then padding applies and scale it to fit in box*/
	color:#2980B9;
	border: 3px solid rgba(0,0,0,0);	/*to remove slight detch in input box*/
}

.fa-plus{
	float:right;
}

/*style changes when clicking it*/
input:focus{
	background:#fff;
	border: 3px solid #2980b9;
	outline:none;   /*to remove shady border*/
}



/* style on even lines only in li*/
li:nth-child(2n){
	background:#f7f7f7;
}



li span{
	background: #e74c3c;
	width:0px;
	height:40px;
	/*margin:0 20px;*/
	color:white;
	display:inline-block;/* here width and height are respected when width , height dont fit we use it */
	text-align: center;
	transition: 0.15s linear; /*make it animated delay after  hover*/
	opacity:0; /* to make span not visible when not hovering over it*/
}

li:hover span{
	width:40px;
	opacity:1.0;
}
